{% extends "layout.html" %}
{% load static %}
{% block head %}
    <head>
        <title>CORONAQUI!</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'lupa.png' %}"/>
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet'/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="{% static 'index.css' %}" rel='stylesheet'/>
    </head>
{% endblock %}


{% block body %}
    <div id='container'>
        <div id='map'></div>
    </div>        
{% endblock %}

